<!DOCTYPE html>
<html>
<head>
 <title>EcoSensors - Console</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'console/style.css' %}">

</head>
<body>

<h1>Fields</h1>
{% if fields_list %}
    <ul>
    {% for field in fields_list %}
        <!--<li><a href="/console/{{ field.id_field}}/">{{ field.field_name }}</a></li>-->
        <li><a href="{% url 'console:stations' field.id_field %}">{{ field.field_name}} ({{ field.field_lat }},{{ field.field_lng }})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fields are available.</p>
{% endif %}

</body>
</html>
