<!DOCTYPE html>
<html>
<head>
 <title>EcoSensors - Console Station</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'console/style.css' %}">

</head>
<body>
  <h1>Sensors by Station</h1>
  {% if station %}
    <ul>
      {% for st in station %}
          <li>
            {{ st.id_sensor}} | {{ st.stations_id_station.station_longname }} | {{ st.sensor_types_id_sensor_type.sensor_type_longname }} | {{ st.chart_style_id_chart_style.chart_style_name }} | {{ st.sensor_active }} | {{ st.sensor_created }} | {{ st.chart_backgroundcolor_id_chart_backgroundcolor.colors_id_colors.color_name }}
          </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No stations are available or actived.</p>
  {% endif %}

</body>
</html>
